.button{
    text-align: center;
}

.button button{
    margin: 1.5rem;
    background-color: black;
    border-radius: 1rem;
    border: none;
}

@media screen and (max-width: 1024px){
    .button{
        overflow: auto;
        white-space: nowrap;
    }
    .button button{
        display: inline-block;
    }
}

@media screen and (max-width: 320px){
    .button button{
        margin: 1rem;
    }
}