.maindiv{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 2rem; */
    width: 100%;
    /* border: 2px solid black; */
}
.card{
    margin: 1rem;
    padding: 0 !important;
}

@media screen and (max-width: 425px){
    .card{
        margin-left: 2.5rem !important;
    }
}
